*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

body{
    background-color: hsl(210, 46%, 95%);
}

.display-none{
    display: none!important;
}

.center{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    
} 

#main-container{
    height: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 50%;
    /* background-color: white; */

}

img{
    border-radius: 15px 0 0 15px;
}

#footer{
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
}


#second-container{
    padding:20px;
    background-color: white;
    border-radius: 0 15px 15px 0;
}

#image{
    width: 250px;
    height: 250px;
    display: flex;
    float: left;
    border-radius: 15px 0 0 15px;

}

h1{
    font-weight: 700;
    color:hsl(217, 19%, 35%);
    margin-bottom: 10px;
    font-size: 22px;
    
} 

p{
    
    color: hsl(217, 19%, 35%);
    font-weight: 500;
    font-size: 13px;
}

#avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}

#third-container{
    height: 50px;
    margin-top: 15px;
    display: flex;
    position: relative;
   
} 

h4{
    font-weight: 700!important;
    font-size: 13px!important;
    color:hsl(217, 19%, 35%)!important;
    margin-top: 10px!important;
}

#small-container{
    /* width: 150px; */
    height: 50px;
    margin-left: 20px;
    

}

#small-container p{
    margin-top: 0;
}


#img-share{
    margin-left: 150px;
    height: 50px;
    width: 50px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:hsl(217, 19%, 35%);
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
  
}



.share-shape-container{
    height: 50px;
    width: 200px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:350px;
    bottom:70px;
}

 .share-p{
    color: hsl(212, 23%, 69%);
    display: flex;
    align-items: center;
    justify-content: left;
    letter-spacing: 5px;
}

.shape-icons-container{
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

a{
    margin-left: 15px;

}

#share-container{
    height: 50px;
    width: 50px;
}


@media (max-width: 600px){
    #main-container{
        flex-direction: column;
        width: 100%;
    }
    img{
        border-radius: 15px 15px 0 0 ;
    }
    #image{
        width: 100%;
        height: 330px;
    
    }
    #second-container{
        
        border-radius: 0 0 15px 15px;
        width: 100%;
    }
    #footer{
        height: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        
    }
    #third-container{
       margin-bottom: 30px;
       
    } 
    #img-share{
        
   
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:hsl(217, 19%, 35%);
        background-color: hsl(210, 46%, 95%);
        cursor: pointer;
      
    }
    .share-shape-container{
        height: 50px;
        width: 100%;
        flex-direction: column;
        display: block;
    
    }
    .display-none{
        display:
    }

}
/*- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Sfondo: Light Grayish Blue: hsl(210, 46%, 95%)*/

